
<ion-content [fullscreen]="true">

  <div class="logo">
    <ion-img src="../../assets/icon/comiapp-logo.svg"></ion-img>
  </div>

  <ion-grid class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-label>Correo</ion-label>
      <ion-input placeholder="Ingresa tu correo aqui"></ion-input>
    </ion-row>
    <ion-button class="btn-2"expand="block" (click)="Registro()">Enviar</ion-button>
    <ion-text class="txt">Se te enviara un correo con las instrucciones para actualizar tu contraseña</ion-text>
  </ion-grid>

</ion-content>
