<ion-header>
  <ion-toolbar>
    <ion-title>Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barra de búsqueda -->
  <ion-searchbar placeholder="Buscar recetas..." (ionInput)="onSearch($event)">
  </ion-searchbar>

  <!-- Tarjetas de recetas -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let recipe of filteredRecipes">
        <ion-card (click)="openRecipeDetails(recipe.id)">
          <ion-img [src]="recipe.image" alt="{{ recipe.title }}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ recipe.title }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
