<ion-header>
  <ion-toolbar>
    <ion-title>Recetas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar recetas..." (ionInput)="onSearch($event)">
  </ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let recipe of filteredRecipes">
        <ion-card (click)="openRecipeDetails(recipe.id)">
          <ion-img [src]="recipe.image" alt="{{ recipe.title }}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ recipe.title }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
