.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; 
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  ion-img {
    width: 200px;
    height: 200px;
    animation: scaleAnimation 3s infinite ease-in-out;
  }
  
ion-content{
    --background:rgb(207, 129, 77);
}

ion-input{
    --color:black;
    --background:rgba(255, 255, 255, 0.913);
    --border-radius: 10px;
}

ion-button{
    --color:white;
    --background:rgb(131, 68, 44);
}
.label-pass{
  margin-top: 10px;
}

.btn-1{
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-2{
  --background:rgb(160, 55, 43);
}

.btn-3{
    --background:transparent;
    --border:none;
    --box-shadow:none;
    --color:rgb(255, 231, 211);
    --font-size:1px !important;
}

@keyframes scaleAnimation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
}

