ion-item{
    --background:rgb(87, 42, 13);
}
ion-toolbar{
    --background: rgb(87, 42, 13);
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(207, 129, 77);
}

ion-content {
  --background: rgb(207, 129, 77);
}
