ion-content{
    --background:rgb(207, 129, 77);
}
ion-toolbar{
  --background: rgb(87, 42, 13);
}
<<<<<<< HEAD
=======
ion-header{
  ion-title{
    color: rgb(255, 255, 255);
  }
}
>>>>>>> NuevaRama

ion-card {
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgb(145, 62, 24);

  }
  ion-card-title{
    color: rgb(255, 242, 237);
  }
  ion-card-content{
    color:#ffcbb2;
  }
  
  ion-img {
    height: 200px;
    object-fit: cover;
  }
  