<ion-content [fullscreen]="true">

  <div class="logo">
    <ion-img src="../../assets/icon/comiapp-logo.svg"></ion-img>
  </div>

  <ion-grid class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-label class="lbl-1">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="account.nombre" placeholder="Ingresa tu usuario aquí"></ion-input>

      <ion-label class="lbl-2">Correo</ion-label>
      <ion-input [(ngModel)]="account.email" placeholder="Ingresa tu correo aquí" (blur)="validateEmail()"></ion-input>
      <div *ngIf="!isEmailValid" class="error-message">Por favor, ingresa un correo válido.</div>

      <ion-label class="lbl-3">Contraseña</ion-label>
      <ion-input [(ngModel)]="account.password" type="password" placeholder="Ingresa tu contraseña aquí" (input)="validatePasswords()"></ion-input>

      <ion-label class="lbl-4">Confirma tu Contraseña</ion-label>
      <ion-input [(ngModel)]="account.repassword" type="password" placeholder="Confirma tu contraseña aquí" (input)="validatePasswords()"></ion-input>
      <!-- Mensaje de error para contraseñas -->
      <div *ngIf="!doPasswordsMatch" class="error-message">Las contraseñas deben coincidir.</div>
    </ion-row>
    <ion-button class="btn-2" expand="block" [disabled]="!isFormValid" (click)="Resgistrarse()">Registrarse</ion-button>
  </ion-grid>

</ion-content>
